<main>
  <div class="category-container">
    <div class="document">
      <div class="header"><h1>Tasks in category: House</h1></div>
      <div class="to-download-left"><p>To download</p></div>
      <div class="content">
        <div class="subcategory">
          <div class="subcategory-header"><h4>Clean the house</h4></div>
          <ul>
            <li>Vacuum floor</li>
            <li>Clean floor</li>
            <li>Wash dishes</li>
            <li>Do laundry</li>
          </ul>
        </div>
        <div class="subcategory">
          <div class="subcategory-header"><h4>Garden</h4></div>
          <ul>
            <li>Cut the grass</li>
            <li>Rake the grass</li>
            <li>Replant flowers</li>
            <li>Water the flowers</li>
            <li>Paint the fence</li>
            <li>Trim the tree</li>
          </ul>
        </div>
        <div class="subcategory">
          <div class="subcategory-header"><h4>Kitchen</h4></div>
          <ul>
            <li>Wash the cabinets </li>
            <li>Bake a cake</li>
            <li>Make dinner</li>
            <li>Clean the oven</li>
            <li>Sort the spices</li>
          </ul>
        </div>
        <div class="subcategory-with-checkboxes">
          <h3> Shopping List </h3>
          <div class="items">
            <input type="checkbox"></input><label>Chemicales</label>
            <input type="checkbox"></input><label>Food</label>
            <input type="checkbox"></input><label>Clothes</label>
            <input type="checkbox"></input><label>Cosmetics</label>
            <input type="checkbox"></input><label>Drinks/Alkohol</label>
            <input type="checkbox"></input><label>Sweets</label>
            <input type="checkbox"></input><label>Lettuce</label>
            <input type="checkbox"></input><label>Peppers</label>
            <input type="checkbox"></input><label>Broccoli</label>
            <input type="checkbox"></input><label>Cauliflower</label>
            <input type="checkbox"></input><label>Carrots</label>
            <input type="checkbox"></input><label>Onions</label>
            <input type="checkbox"></input><label>Tomatoes</label>
          </div>
        </div>
      </div>
      <div class="to-download-right"> <p>To download </p></div>
      <div class="footer">
        Some additional notes which will help you in completing this tasks.

        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        non proident, sunt in culpa qui officia deserunt mollit anim
        id est laborum.
      </div>
    </div>
  </div>
</main>
