<main>
    <div class="list-row">
      <div class="list-col-3">
        <div class="stripe">
          <div class="active">DONE</div>
          <div>UNDONE</div>
        </div>
        <div class="stripe search">
          <div class="flex-start">
            <i class="material-icons">search</i>
          </div>
          <div><input/></div>
          <div class="flex-end">
            <i class="material-icons mr-3">add_circle</i>
            <i class="material-icons">settings</i>
          </div>
        </div>
        <div class="list">
          <div class="list-item selected">
            <div class="subtitle">#PN212</div>
            <div class="title">
              Clean the house
            </div>
            <div class="small-info"> 2 days ago <span class="element"></span>
              Jon Doe
            </div>
            <div class="actions">
              <div class="result">Done</div>
              <div class="tags">
                <div class="tag-item">TAG1, TAG2, TAG3</div>
              </div>
            </div>
          </div>
          <div class="list-item">
            <div class="subtitle">#PN212</div>
            <div class="title">
              Go shopping
            </div>
            <div class="small-info"> 2 days ago <span class="element"></span>
              Jon Doe
            </div>
            <div class="actions">
              <div class="result">Done</div>
              <div class="tags">
                <div class="tag-item">TAG1, TAG2, TAG3</div>
              </div>
            </div>
          </div>
          <div class="list-item">
            <div class="subtitle">#PN212</div>
            <div class="title">
              Make doctor appointment
            </div>
            <div class="small-info"> 2 days ago <span class="element"></span>
              Jon Doe
            </div>
            <div class="actions">
              <div class="result">Done</div>
              <div class="tags">
                <div class="tag-item">TAG1, TAG2, TAG3</div>
              </div>
            </div>
          </div>
          <div class="list-item">
            <div class="subtitle">#PN212</div>
            <div class="title">
              Clean the house
            </div>
            <div class="small-info"> 2 days ago <span class="element"></span>
              Jon Doe
            </div>
            <div class="actions">
              <div class="result">Done</div>
              <div class="tags">
                <div class="tag-item">TAG1, TAG2, TAG3</div>
              </div>
            </div>
          </div>
          <div class="list-item">
            <div class="subtitle">#PN212</div>
            <div class="title">
              Go shopping
            </div>
            <div class="small-info"> 2 days ago <span class="element"></span>
              Jon Doe
            </div>
            <div class="actions">
              <div class="result">Undone</div>
              <div class="tags">
                <div class="tag-item">TAG1</div>
                <div class="tag-item">TAG2</div>
                <div class="tag-item">TAG3</div>
              </div>
            </div>
          </div>
          <div class="list-item">
            <div class="subtitle">#PN212</div>
            <div class="title">
              Clean the house
            </div>
            <div class="small-info"> 2 days ago <span class="element"></span>
              Jon Doe
            </div>
            <div class="actions">
              <div class="result">Undone</div>
              <div class="tags">
                <div class="tag-item">TAG1, TAG2, TAG3</div>
              </div>
            </div>
          </div>
          <div class="list-item">
            <div class="subtitle">#PN212</div>
            <div class="title">
              Clean the house
            </div>
            <div class="small-info"> 2 days ago <span class="element"></span>
              Jon Doe
            </div>
            <div class="actions">
              <div class="result">Done</div>
              <div class="tags">
                <div class="tag-item">TAG1</div>
                <div class="tag-item">TAG2</div>
                <div class="tag-item">TAG3</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="list-col-9">
        <div class="main-header">
          <div class="info-group">
            <div class="small-info">
              <a href="#">Some info</a> /
              <a href="#">Some other info </a> /
              <a href="#"> PN213 </a>
            </div>
            <div class="title">
              Clean the house
            </div>
            <div class="subtitle">
              In this task you have to clean the house. You should do this every saturday
            </div>
            <div class="tags flex-start">
              <div class="tag-item">tag1</div>
              <div class="tag-item">tag2</div>
              <div class="tag-item">tag3</div>
            </div>
          </div>
          <div class="actions">
            <a href="#">History</a>
            <a href="#" class="green">Start</a>
          </div>
        </div>
        <div class="runs-container">
          <div class="list-row">
            <div class="list-col-6 steps-line">
              <ul class="first-done">
                <li class="done>">
                  <div class="material-icons steps-line-item done"></div>
                  <div class="container">
                    <div class="title">Some step</div>
                    <div class="subtitle">How to do this step</div>
                    <div class="result result-undone">
                      <div class="actions">undone</div>
                    </div>
                  </div>
                </li>
                <li class="done>">
                  <div class="material-icons steps-line-item active"></div>
                  <div class="container">
                    <div class="title">Some step</div>
                    <div class="subtitle">How to do this step</div>
                    <div class="result result-">
                      <div class="actions">
                          <a href="#" class="done">DONE</a>
                          <a href="#" class="undone">UNDONE</a>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="done>">
                  <div class="material-icons steps-line-item"></div>
                  <div class="container">
                    <div class="title">Some step</div>
                    <div class="subtitle">How to do this step</div>
                    <div class="result result-">
                      <div class="actions"></div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
