.list-row {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.list-col-3 {
  flex: 33.33%;
  background-color: $mid-gray;
}

.list-col-9 {
  flex: 66.66%
}

.list-col-6 {
  flex: 50%;
}

.stripe {
  padding: 0 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: $stripe-height;
  font-weight: normal;
  color: white;
  background-color: $dark-green;
  .active {
    border-bottom: 1px solid $green;
  }
  &.search {
    background-color: $gray;
    color: $dark-gray;
    justify-content: space-between;
    height: $stripe-height;
  }
}

.list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .list-item {
    background-color: white;
    padding: 19px 24px;
    border-bottom: 1px solid $gray;
    border-right: 1px solid #e9e9e9;
    &:first-child {
      border-top: 2px solid $gray;
    }

    &.selected {
      background-color: $dark-tail;
      color: white;
      .title > a {
        color: white;
      }
      .small-info, .actions {
        color: white;
      }
    }


    .title {
      a {
        color: black;
        font-weight: 500;
        font-size: 16px;
      }
    }

    .subtitle {
      font-size: 10px;
      opacity: 0.7;
    }

    .small-info {
      opacity: 0.5;
      text-transform: uppercase;
      font-size: 12px;
      margin: 5px 0;
      .element:before {
        content: "\2022";
      }
    }

    .actions {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      color: $tail;

      .tags {
        display: flex;
        justify-content: flex-end;
        flex-grow: 2;
        flex-wrap: wrap;

        .tag-item {
          text-transform: uppercase;
          margin: 0 10px;
        }
      }
    }
  }
}

.main-header {
  background-color: white;
  min-height: 280px;
  padding: 24px 40px;
  display: flex;
  background: linear-gradient(25deg, rgba(255, 255, 255, 0.5) 71%, rgba(65, 167, 139, 0.3) 66%), linear-gradient(160deg, rgb(255,255,255) 66%, rgba(45, 80, 193, 0.3) 66%);
  z-index: 99;
  flex-wrap: wrap;

  .info-group {
   width: 50%;
   min-width: 250px;
  }

  .actions {
    width: 50%;
    min-width: 250px;
    margin: auto 0;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;

    .green {
      background-color: $green;
      color: white;
    }
    a {
      margin-right: 20px;
      margin-bottom: 10px;
      padding: 1rem 2rem;
      background-color: $gray;
      border-radius: .2rem;
      color: black;
      text-decoration: none;
      text-transform: uppercase;
    }

    .bwhite {
      font-weight: 500;
    }
  }
  .small-info {
    opacity: 0.5;

    a {
      color: black;
      text-decoration: underline;
    }
  }

  .title {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.2;
    margin: 5px 0;
  }

  .subtitle {
    opacity: 0.5;
    font-weight: 500;
    margin: 10px 0;
  }
  .tags {
    display: flex;
  }
  .tag-item {
    color: $tail;
    text-decoration: underline;
    margin-right: 10px;
    font-weight: 500;
  }
}

.steps-line{
  position: relative;
  margin-bottom: 3rem;
}
