$small-sidenav-width: 65px;
$navbar-height: 56px;
$stripe-height: 44px;

$dark-green: rgb(0,134,106);
$green: rgb(0,168,132);
$tail: rgb(0,178,168);
$dark-tail: rgb(78,97,147);
$gray: rgb(233, 233, 233);
$dark-gray: rgb(98,98,98);
$mid-gray: rgb(220,224,227);
$red: rgb(194,84,67);
$yellow: rgb(247,197,68);
$blue: rgb(95,136,184);

$mid-and-down: 900px;
