<footer>
  <div class="footer">
      <div class="footer-item logo">
        <i class="material-icons">clear_all</i>
        <p>Plan your work and execute it</p>
      </div>
      <div class="footer-item">
        <h5>About</h5>
        <div class="subtitle">Pricing</div>
      </div>
      <div class="footer-item">
        <h5>Connect</h5>
        <div class="subtitle">Subscribe</div>
      </div>
      <div class="footer-item">
        <h5>Contact</h5>
        <div class="subtitle">Email</div>
      </div>
  </div>
</footer>
