<ul class="sidenav">
  <li class="logo">
    <%= link_to '/' do %>
      <i class="material-icons">clear_all</i>
    <% end %>
  </li>
  <li><a href="/"><i class="material-icons">web</i></a></li>
  <li><a href="/monthly"><i class="material-icons">apps</i></a></li>
  <li><a href="/by_category"><i class="material-icons">list</i></a></li>
  <li><a href="#"><i class="material-icons">bug_report</i></a></li>
  <li><a href="#"><i class="material-icons">cloud</i></a></li>
  <li><a href="#"><i class="material-icons">people</i></a></li>
  <li><a href="#"><i class="material-icons">settings</i></a></li>
</ul>
